body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding:0px;
    border: 1px solid #ddd;
}

button {
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}